<section id="home-about" class="card">
    <div class="card-body">
        <h1>Acerca de la Pagina</h1>
        <p>Pagina web CRUD, en la cual se pueden crear, leer, editar, modificar y eliminar notas! </p>
    </div>
</section>