<section id="home-about" class="card">
    <div class="card-body">
        <h1>Acerca de la Pagina</h1>
        <p>Pagina web CRUD, en la cual se pueden crear, leer, editar, modificar y eliminar notas! </p>
        <hr class="my-4">
        <p>Visita mi pagina web para ver mas proyectos.</p>
        <a href="https://mywebsite-24f67.web.app/" class="btn btn-primary">Pagina Web Maximiliano Arrettino</a>
    </div>
</section>