<div id="home-about" class="jumbotron mt-4">
    <h1 class="display-4">Aplicacion de Notas</h1>
    <p class="lead">Bienvenido a la aplicacion de Notas, cree una cuenta para poder acceder.</p>
    <hr class="my-4">
    <p>Para poder crear notas debe registrarse haciendo click en el cuadro de abajo o en la parte superior derecha.</p>
    <a href="/users/signup" class="btn btn-primary">Registrarse</a>
</div>