<div id="home-about" class="jumbotron mt-4">
    <h1 class="display-4">Aplicacion de Notas</h1>
    <p class="lead">Bienvenido a la aplicacion de Notas, cree una cuenta para poder acceder.</p>
    <hr class="my-4">
    <p>Visita mi pagina web para ver mas proyectos.</p>
    <a href="https://mywebsite-24f67.web.app/" class="btn btn-primary">Pagina Web Maximiliano Arrettino</a>
</div>