body {
  background-color: #2d2933;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23fff700' fill-opacity='0.4'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
}

.logo {
  width: 30%;
  height: 30%;
}

#home-about {
  color: rgb(13, 13, 20);
  text-align: center;
  background: #f7b738;
}

#signin{
  background-color: #f7b738;
}

#signup{
  background-color: #f7b738;
}

#all-notes{
  background-color: #f7b738;
}

#edit-note{
  background-color: #f7b738;
}

#new-note{
  background-color: #f7b738;
}

#dropdown-menu{
  background-color: #f7b738;
}